{
   "presets": ["@babel/preset-typescript", "@babel/preset-env"],
   "plugins": [
      "@babel/plugin-transform-modules-commonjs",
      "@babel/plugin-transform-runtime"
   ],
   "ignore": [
      "./node_modules",
      "./.babelrc",
      "./.gitignore",
      "./package.json",
      "./tsconfig.json",
      "./seeders",
      "./migrations",
      "./json"
   ]
}
